html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.sidebar {
  width: 25vw;
  height: 94vh;
  overflow: auto;
}

/* .sidebar {
  height: 100%;
  width: 200px;
  background-color: #fff;
  position: fixed !important;
  z-index: 1;
  overflow: auto;
} */

.sidebar_view {
  width: 100%;
  padding: 3px;
  opacity: 1;
}

.sidebar_view:hover {
  opacity: 0.5;
  transform: scale(1);
}

.main_picture {
  margin-top: 14vh;
  margin: auto;
  width: 50%;
}

.test {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
